* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
}

button:hover {
  cursor: pointer;
}

.error-message {
  color: red;
}

.hidden {
  display: none;
}

.hidden2 {
  display: none;
}

.topnav {
  overflow: hidden;
  background-color: #354475;
  position: relative;
}

.topnav #myLinks {
  display: none;
}

.topnav a {
  color: white;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
  display: block;
}

.topnav a.icon {
  background: black;
  display: block;
  position: absolute;
  right: 0;
  top: 0;
}

.topnav a:hover {
  background-color: #445692;
}

.active {
  background-color: #354475;
  color: white;
}

.button {
  font: bold 15px Arial;
  text-decoration: none;
  background-color: #e4ebff;
  color: #333333;
  padding: 6px 12px 6px 12px;
  border-top: 1px solid #cccccc;
  border-right: 1px solid #333333;
  border-bottom: 1px solid #333333;
  border-left: 1px solid #cccccc;
  border-radius: 4px;
}

.background {
  position: relative;
  overflow: hidden;
  padding: 16px;
  border: 1px solid black;
  background-color: #dae0f2;
}

.container {
  padding: 0 10px 450px 10px;
  position: relative;
  z-index: 2;
  text-align: center;
}

.background img {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: auto;
  opacity: 0.2;
}

.results {
  text-align: left;
}

.create {
  padding-bottom: 10px;
}

.list-style {
  list-style-type: none;
  text-align: left;
}

p,
ul {
  text-shadow: 0 0 10px white;
}

@media only screen and (min-width: 750px) {
  .container {
    padding: 0 10px 1050px 10px;
    position: relative;
    z-index: 2;
    text-align: center;
  }
}
